$DarkestBackgroundColor: #2d3238;
$DarkerBackgroundColor: #383c42;
$DarkBackgroundColor: #42464d;
$LighterDarkBackgroundColor: #484d56;
$LightBackgroundColor: rgba(72, 77, 86, 0.9);


$DarkestFontColor: rgba(darkgray, 0.5);
$DarkerFontColor: rgba(255, 255, 255, 0.7);
$LighterFontColor: #FFF;

$DarkerBorderColor: rgba(255, 255, 255, 0.12);
$LighterBorderColor: #FFF;


$RedColor: #ff1e00;
$GreenColor: #03c988;

$DarkestBlueColor: #0c7cd5;
$LightBlueColor: #2371a2;
$LighterBlueColor: #2196F3;


$GrayColor: #bcc0c7;

