@import "../../assets/scss/colors.scss";

.main {
    height: 50rem;
    display: flex;
}
.header__firstnav__item {
    &:nth-child(1) {
        background-color: $DarkBackgroundColor;
        padding-bottom: 2rem;
    }
}
.header__secondnavforum {
    display: flex;
}
