@import "../../assets/scss/colors.scss";

.main {
    &__registerform {
        margin-bottom: 4rem;
        margin-top: 2rem;
        margin-right: 4rem;
        background-color: $DarkBackgroundColor;
        margin-left: 4rem;
        &__footer {
            padding-top: 1rem;
            display: flex;
            justify-content: space-around;
            background: $LightBackgroundColor;
            border-top: 1px solid $DarkerBorderColor;
            vertical-align: middle;
            padding-bottom: 10px;
            &__button {
                margin: auto;
                border-radius: 5px 5px 5px 5px;
                border: none;
                color: $LighterFontColor;
                background: $DarkestBlueColor;
                vertical-align: middle;
                height: 2rem;
                width: 10rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__div {
            display: flex;
            padding-right: 0.5rem;
            background-color: $DarkerBackgroundColor;
            &__column {
                border-radius: 5px 0px 0px 5px;
                padding-left: 30rem;
                background-color: $DarkBackgroundColor;
                font-family: Roboto;
                justify-content: space-between;
                border-right: 1px solid $DarkerBorderColor;
                padding-right: 1rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                color: $LighterFontColor;
                display: flex;
                flex-direction: column;
                width: 7vw;
                text-align: right;
                &__dfn {
                    text-align: right;
                    color: $GrayColor;
                    font-style: normal;
                    font-size: 0.8rem;
                }
            }
            &__row {
                &__username {
                    align-self: center;
                    padding-bottom: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    font-family: Roboto;
                    width: 50vw;
                    &__input {
                        padding: 0.5rem;
                        border-radius: 5px 5px 5px 5px;
                        background-color: $DarkBackgroundColor;
                        border: 1px solid $DarkerBorderColor;
                        outline: none;
                        font-size: 1rem;
                        font-family: Roboto;
                        color: $LighterFontColor;

                        &::placeholder {
                            font-size: 1rem;
                            font-family: Roboto;
                        }
                    }
                }
                &__email {
                    align-self: center;
                    padding-bottom: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    font-family: Roboto;
                    width: 50vw;
                    &__input {
                        padding: 0.5rem;
                        border-radius: 5px 5px 5px 5px;
                        background-color: $DarkBackgroundColor;
                        border: 1px solid $DarkerBorderColor;
                        outline: none;
                        font-size: 1rem;
                        font-family: Roboto;
                        color: $LighterFontColor;

                        &::placeholder {
                            font-size: 1rem;
                            font-family: Roboto;
                        }
                    }
                }
                &__pwdd {
                    align-self: center;
                    padding-bottom: 2rem;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    font-family: Roboto;
                    &__inputdiv {
                        color: white;
                        border-right: none;
                        display: flex;
                        &__input {
                            width: 46vw;
                            padding: 0.5rem;
                            border-radius: 5px 0px 0px 5px;
                            background-color: $DarkBackgroundColor;
                            border: 1px solid $DarkerBorderColor;
                            outline: none;
                            font-size: 1rem;
                            font-family: Roboto;
                            color: $LighterFontColor;
                        }
                        &__eye {
                            color: white;
                            margin: auto;
                            border: 1px solid $DarkerBorderColor;
                            border-left: none;
                            background-color: $DarkBackgroundColor;
                            padding: 0.6rem;
                            width: 21px;
                            border-radius: 0px 5px 5px 0px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                &__termsprivacy {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    font-family: roboto;
                    &__links {
                        color: $LighterBlueColor;
                        text-decoration: none;
                    }
                    &__checkbox {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                &__question {
                    font-size: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 1rem;
                }
                &__pwddiv {
                    color: $LighterFontColor;
                    &__strength {
                        font-size: 1rem;
                        font-family: Roboto;
                        margin-top: 5px;
                        display: block;
                        font-size: 0.9rem;
                    }
                }
                &__meterpwd {
                    padding-top: 0.5rem;
                    width: 100%;
                    height: 1rem;
                }
                &__dfn {
                    padding-top: 0.5rem;
                    font-style: normal;
                    color: $GrayColor;
                    font-family: Roboto;
                    font-size: 0.8rem;
                }
                &:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    color: $LighterFontColor;
                }
                &__date {
                    padding-top: 1.5rem;
                    display: flex;
                    gap: 2rem;
                    &__input {
                        &__day {
                            width: 3rem;
                            padding-left: 0.5rem;
                            color: $LighterFontColor;
                            border: 1px solid $DarkerBorderColor;
                            border-radius: 5px 5px 5px 5px;
                            background: $DarkBackgroundColor;
                            outline: none;
                            height: 2rem;
                        }
                        &__year {
                            width: 5rem;
                            padding-left: 0.5rem;
                            color: $LighterFontColor;
                            border: 1px solid $DarkerBorderColor;
                            background: $DarkBackgroundColor;
                            border-radius: 5px 5px 5px 5px;
                            height: 2rem;
                            outline: none;
                        }
                    }
                    &__select {
                        text-align: left;
                        padding-left: 0.5rem;
                        outline: none;
                        background: $DarkBackgroundColor;
                        height: 2.3rem;
                        color: $LighterFontColor;
                        border: 1px solid $DarkerBorderColor;
                        border-radius: 5px 5px 5px 5px;
                        background-image: url(../../assets/img/select.svg);
                        background-repeat: no-repeat;
                        appearance: none;
                        background-position: 100%;
                        background-size: 0.9rem;
                        width: 6rem;
                    }
                }
                &__input {
                    outline: none;
                    border: 1px solid $DarkerBorderColor;
                    background-color: $DarkBackgroundColor;
                    height: 1.8rem;
                    width: 40rem;
                    border-radius: 5px 5px 5px 5px;
                    color: $LighterFontColor;
                    font-size: 1.1rem;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.header__secondnavforum {
    display: none;
}
.header__firstnav__item {
    &:nth-child(1) {
        background-color: $DarkestBackgroundColor;
        padding-bottom: 1rem;
    }
}
